- content_for :title do 
  Judo2000 
  \|
  = @user.username + "'s"
  profile
= render 'users/user', user: @user

%br
= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'nav-link' do
  .fab.fa-google
  Sign in with Google
%br 
= @user.provider
= @user.uid
= @user.token
= @user.expires_at
= @user.expires
= @user.refresh_token
= @user.image
= @user.name
