-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.label :logo
    .row
    - if @course.logo.attached?
      = image_tag @course.logo, width: "200px"
      /= @course.logo.content_type
      /= @course.logo.key
      .row
      = @course.logo.filename
      /= @course.logo.metadata
      .row
      = @course.logo.byte_size
      /= @course.logo.checksum
      .row
    = f.file_field :logo
    %small= f.error :logo, class: 'text-danger'
    .row.pt-3
    = f.label :description
    = f.rich_text_area  :description
    %small= f.error :description, class: 'text-danger'
    = f.input :short_description 
    = f.input :language, collection: Course.languages, include_blank: true
    = f.input :level, collection: Course.levels, include_blank: true 
    = f.input :price 
    = f.input :published

  .form-actions
    = f.button :submit
